---
name: CI
on:
  push:
     branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    runs-on: "${{ matrix.os }}"
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install uv
        uses: astral-sh/setup-uv@v2
      - name: Install GNU make (Windows)
        if: runner.os == 'Windows'
        run: choco install make -y
      - name: Sync project environment
        run: uv sync --all-groups --python "${{ matrix.python-version }}"
      - name: lint and test
        run: uv run make ci
      - name: upload coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          # TODO(tonybaloney): move token to `secrets.CODECOV_TOKEN`
          token: 48f9ff3a-6358-4607-aa5d-9cb7cada539c
          files: .tests-reports/coverage.xml
          fail_ci_if_error: true
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v2
      - run: uv tool run ruff check .

  pyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: astral-sh/setup-uv@v2
      - name: Sync project environment
        run: uv sync --all-groups --python 3.11
      - uses: jakebailey/pyright-action@v1
        with:
          working-directory: .
