---
name: CI
on:
  push:
     branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11-dev'
        continue-on-error:
          - false
    runs-on: "${{ matrix.os }}"
    continue-on-error: "${{ matrix.continue-on-error }}"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python-version }}"
      - name: install dependencies
        run: |
          pip install --upgrade pip wheel flit
          flit install --extras=all
      - name: lint and test
        run: make ci
      - name: upload coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          # TODO(tonybaloney): move token to `secrets.CODECOV_TOKEN`
          token: 48f9ff3a-6358-4607-aa5d-9cb7cada539c
          files: .tests-reports/coverage.xml
          fail_ci_if_error: true
